nav {
    background-color: white;
    color: black;

}

nav>ul {
    list-style-type: none;
    margin-bottom: 0;
    float: right;
    padding-right: 20px;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    color: black;
    font-family: cursive;
    font-size: 18px;

}

.intro {
    height: 550px;
    background-color: white;
    opacity: 0.9;
    text-align: Center;
    clear: both;    
    margin-top: 0;
    background-image: url(/images/laptop.jpg);
    background-repeat: no-repeat;
    font-style: italic;

}

.intro img {
    margin-top: 50px;
    margin-left: 80px;
}

.intro p:first-child {
    margin-top: 30px;
    padding-top: 200px;
    padding-right: 350px;
    font-size: 30px;


}

.card-group {
    margin-top: 50px;
}



.about {
    width: 100%;
    text-align: center;
    background-color: #84848d;
    height: 300px;

}

.about>img {
    margin-left: 100px;
}

.about>p {
    width: 70%;
    justify-content: center;
    margin-left: 70px;
}

.about>h2 {
    margin-left: 200px;
    margin-top: 50px;
}

.card-image img {
    width: 50px;
}



.skills {
    display: flex;

}

.skills > h3 {
    text-align: center;    
    padding-left: 50px;
}

.page-footer {
    background-color: black;
}


.education {
    height: 200px;
    text-align: center;
    padding-top: 80px;
    
}