nav {
    background-color:white;
    /* line-height: px; */
    color: black;
    /* height: 100px; */
}

nav > ul {
    /* display: inline; */
    list-style-type: none;
    margin-bottom: 0;
    float: right;
    padding-right: 20px;
}

nav>ul>li {
    display: inline;
}

nav>ul>li>a {
    color: black;
    font-family: cursive;
    font-size: 18px;

}

.intro {
    height: 550px;
    background-color:white;
    opacity: 0.9;
    text-align: Center;
    clear: both;
    font-size: 20px;
    margin-top: 0;
    background-image: url(/images/laptop.jpg);
    background-repeat: no-repeat;
    font-style: italic;
    
}

.intro img {
    /* float: left; */
    /* margin-left: 100px; */
    margin-top: 50px;
    margin-left: 80px;
}



 
.about {
    width: 100%;
    text-align: center;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    background-color:#84848d;
    height: 400px;
    
}

.card-image img {
    width: 50px;
}



.skills {
    display: flex;
    flex-wrap: wrap;
}

.page-footer {
    background-color: black;
}









